<%- include ('../partials/header') %>

<div class="container-my5">
  
  <center>
<h2><%= pageTitle%></h1> 
<hr/>
 <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted">$<%= product.price %></h6>
    <p class="card-text"><%= product.Description %></p>
  </div>
</div>
</center>


<%- include ('../partials/footer') %>